@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* <!--Reset Stylings --> */
:root {
  --primary-color: #22668d;
  --secondary-color: #ffcc70;
  --light-one: #fff;
  --light-two: #8ecddd;
  --light-three: #f6f7fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  /* height: 100vh; */
  background: linear-gradient(
      to top,
      rgba(34, 102, 141, 0.829),
      rgba(34, 102, 141, 0.829)
    ),
    url("../images/delivery-background.jpg") no-repeat top center fixed;
  background-size: cover;
  /* overflow: hidden; */
}

header {
  display: flex;
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 35px 15%;
  background: transparent;
}

.logo {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
  font-size: 29px;
  font-weight: 900 !important;
  text-transform: uppercase;
}

.logo i {
  vertical-align: middle;
  margin-right: 6px;
  font-size: 40px;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 0 5px;
  color: var(--secondary-color);
  transition: all 0.45s ease;
  border-radius: 5px;
}

.navbar a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

#menu-icon {
  font-size: 30px;
  z-index: 9999;
  color: var(--secondary-color);
  display: none;
}

.header-btn a {
  padding: 10px 20px;
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 600;
}

.header-btn .sign-in {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.header-btn .sign-in:hover {
  border: 2px solid var(--secondary-color);
  background: transparent;
  color: var(--secondary-color);
}

.tracking {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 200px;
}

.trackit {
  font-size: 30px;
  color: var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
  margin-right: 20px;
}

.track {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(5px) saturate(180%);
}

.track input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

::placeholder {
  text-align: center;
  color: var(--secondary-color);
  opacity: 1;
}

.track button {
  border: 0;
  border-radius: 60px;
  width: 90px;
  height: 40px;
  background: var(--secondary-color);
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

/* <!--Slider--> */
.slider {
  width: 1300px;
  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slider .list .item .delivery,
.slider .list .item .delivery-da {
  width: 600px;
  position: relative;
  margin-top: -60%;
}

.slider .list .item .delivery-da {
  margin-top: -90%;
}

.slider .list .item .dy-content,
.slider .list .item .dy-content-rt {
  width: 600px;
  position: relative;
  left: 10%;
}

.slider .list .item-content {
  position: relative;
}

.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active {
  width: 30px;
}

/* <--About Us Page--> */
.about {
  height: 100vh;
  margin: 15% 50px 0 50px;
}

.about-heading {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .slider {
    height: 400px;
  }
}
/* <!--Media Queries--> */
@media (max-width: 1530px) {
  header {
    padding: 18px 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1530px) {
  header {
    padding: 12px 3%;
    transition: 0.2s;
  }

  #menu-icon {
    display: block;
  }

  .sign-up {
    display: none;
  }

  .navbar {
    position: absolute;
    top: -800px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    transition: all 0.5s ease;
    text-align: center;
    margin: 0 20%;
    border: 2px solid transparent;
    border-radius: 30px;
  }
  .navbar a {
    display: block;
    padding: 1rem;
    margin: 0.8rem;
  }
  .navbar.open {
    top: 100%;
  }
}

@media (max-width: 1300px) {
  .slider {
    margin-top: 30px;
  }
  .slider .list .item {
    flex-direction: column;
    height: 70%;
  }
  .slider .list .item-content .delivery-da,
  .slider .list .item-content .delivery {
    width: 400px;
  }
  .slider .list .item .dy-content,
  .slider .list .item .dy-content-rt {
    width: 500px;
    margin-top: 25px;
  }
  .slider .list .item .dy-content,
  .slider .list .item .dy-content-rt {
    left: 0;
  }

  .tracking {
    margin-top: -10px;
  }
}

@media (max-width: 968px) and (min-width: 769px) {
  .tracking {
    margin-top: -30px;
    flex-direction: column;
  }

  .track {
    width: 600px;
    padding: 0;
  }
  .track button {
    height: 30px;
    margin-right: 10px;
  }
  .trackit {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .slider {
    height: 600px;
  }
  .slider .list .item .dy-content,
  .slider .list .item .dy-content-rt {
    left: 0;
  }
  .slider .list .item .dy-content h1 {
    font-size: 16px;
    text-align: center;
  }

  .slider .list .item .dy-content p {
    text-align: center;
  }
  .slider .list .item .dy-content,
  .slider .list .item .dy-content-rt {
    width: 300px;
  }
  .slider .list .item-content .delivery-da,
  .slider .list .item-content .delivery {
    width: 250px;
  }

  .tracking {
    margin-top: 40px;
    flex-direction: column;
  }

  .trackit {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .track {
    width: 300px;
    padding: 0;
  }

  .track input {
    padding-right: -10px;
    font-size: 13px;
  }
  .track button {
    height: 25px;
    font-size: 13px;
    margin-left: -50px;
    margin-right: 10px;
  }
}
