@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* <!--Reset Stylings --> */
:root {
  --primary-color: #22668d;
  --secondary-color: #ffcc70;
  --light-one: #fff;
  --light-two: #8ecddd;
  --light-three: #f6f7fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(34, 102, 141, 0.829),
      rgba(34, 102, 141, 0.829)
    ),
    url("../images/delivery-background.jpg") no-repeat top center fixed;
  background-size: cover;
  overflow: hidden;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 35px 15%;
  background: transparent;
}

.logo {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
  font-size: 29px;
  font-weight: 900 !important;
  text-transform: uppercase;
}

.logo i {
  vertical-align: middle;
  margin-right: 6px;
  font-size: 40px;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 0 5px;
  color: var(--secondary-color);
  transition: all 0.45s ease;
  border-radius: 5px;
}

.navbar a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

#menu-icon {
  font-size: 30px;
  z-index: 9999;
  color: var(--secondary-color);
  display: none;
}

.header-btn a {
  padding: 10px 20px;
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 600;
}

.header-btn .sign-in {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.header-btn .sign-in:hover {
  border: 2px solid var(--secondary-color);
  background: transparent;
  color: var(--secondary-color);
}

.tracking {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.track {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(5px) saturate(180%);
}

.track input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

::placeholder {
  text-align: center;
  color: var(--secondary-color);
  opacity: 1;
}

.track button {
  border: 0;
  border-radius: 60px;
  width: 90px;
  height: 40px;
  background: var(--secondary-color);
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

/* <!--Media Queries--> */
@media (max-width: 1530px) {
  header {
    padding: 18px 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1530px) {
  header {
    padding: 12px 3%;
    transition: 0.2s;
  }

  #menu-icon {
    display: block;
  }

  .sign-up {
    display: none;
  }

  .navbar {
    position: absolute;
    top: -800px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    transition: all 0.5s ease;
    text-align: center;
    margin: 0 20%;
    border: 2px solid transparent;
    border-radius: 30px;
  }
  .navbar a {
    display: block;
    padding: 1rem;
    margin: 0.8rem;
  }
  .navbar.open {
    top: 100%;
  }
}
